<web-app>
<servlet>
<servlet-name>cookie3</servlet-name>
<servlet-class>cookie3</servlet-class>
<init-param>
<param-name>u1</param-name>
<param-value>sudha</param-value>
</init-param>
<init-param>
<param-name>p1</param-name>
<param-value>sudha123</param-value>
</init-param>
<init-param>
<param-name>u2</param-name>
<param-value>seenu</param-value>
</init-param>
<init-param>
<param-name>p2</param-name>
<param-value>seenu123</param-value>
</init-param>


</servlet>
<servlet-mapping>
<servlet-name>cookie3</servlet-name>
<url-pattern>/cookie3</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>login.html</welcome-file>
</welcome-file-list>
</web-app>